@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

nav{
	width: 100%;
	height: 70px;
	background-color: #E9ED58;
	
}
header{
	width: 100%;
	height: 600px;
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	
}

div#centrarheader{
	position: relative;
	width: 1200px;
	height: 600px;
	background-color: rgba(173,183,244,1.00);
	margin-left: auto;
	margin-right: auto;
}

section#promo{
	width: 100%;
	height: 400px;
	background-image: url("../img/bg_bienvenida.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

section#contenidos{
	width: 100%;
	height: 600px;
	background-image:url("../img/fondoEspecialidades.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

section#ubicacion{
	width: 100%;
	height: 422px;
	
}

footer{
	width: 100%;
	height: 200px;
	background-color: #A1C133;
}

div#centrarNav, div#centrarHeader, div#centrarPromo, div#centrarContenidos, div#centrarUbicacion, div#centrarFooter{
	width: 1200px;
	height: 100%;
	background-color: rgba(204,193,53,0.64);
	margin: 0 auto;
	position: relative;
	
}

div#centrarNav img{
	position: absolute;
	top: 19px;
	left: 10px;
}
ul#menuPrincipal{
	float: left;
	position: absolute;
	top: 30px;
	left: 128px;
	
}
ul#menuPrincipal li{
	float: left;
	margin-right: 49px;
	list-style: none;
}
ul#menuPrincipal li a{
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:20px;
	color: black;
	font-weight: 100;
}

ul#redesSocialestop {
	float: right;
	margin-top: 25px;
}

ul#redesSocialestop li{
	float: left;
	margin-left: 20px;
	list-style: none;
}

div#facebook{
	background-image: url(../../img/redes/faceWhite.svg);
	width: 11px;
	height: 21px;
}

div#facebook:hover{
	background-image: url(../../img/redes/faceHover.svg);
}

div#twitter{
	background-image:url(../../img/redes/twitterWhite.svg);
	width: 23px;
	height: 18px;
}

div#twitter:hover{
	background-image:url(../../img/redes/twitterHover.svg);
	
}

div#instagram{
	background-image: url(../../img/redes/inwhite.svg);
	width: 21px;
	height: 21px;
}

div#instagram:hover{
	background-image: url(../../img/redes/inHover.svg);
}

div#centrarPromo h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 40px;
	color: #A1C133;
	font-weight: 300;
	float: right;
	position: absolute;
	top: 132px;
	left: 664px;
	text-align: right;
	
}

div#centrarPromo p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	color: black;
	font-weight: 100;
	float: right;
	position: absolute;
	top: 256px;
	left: 746px;
}

/*falta contenidos*/
/*falta ubicacion*/

div#centrarFooter img{
	position: absolute;
	top: 60px;
	left: 86px;
}

ul#menufooter{
	float: left;
	position: absolute;
	top: 65px;
	left: 290px;
}

ul#menufooter li{
	margin-bottom: 13px;
	list-style: none;
}

ul#menufooter li a{
	text-decoration: none;
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	
}

ul#iconosredesfooter{
	position: absolute;
	top: 66px;
	left: 408px;
	list-style: none;
	
}

div#footerfacebook{
	background-image: url(../../img/redes/faceWhite.svg);
	width: 11px;
	height: 21px;
	margin-bottom: 11px;
}

div#footerfacebook:hover{
	background-image: url(../../img/redes/faceHover.svg);
}

div#footertwitter{
	background-image:url(../../img/redes/twitterWhite.svg);
	width: 23px;
	height: 18px;
	margin-bottom: 15px;
}

div#footertwitter:hover{
	background-image:url(../../img/redes/twitterHover.svg);
	
}

div#footerinstagram{
	background-image: url(../../img/redes/inwhite.svg);
	width: 21px;
	height: 21px;
}

div#footerinstagram:hover{
	background-image: url(../../img/redes/inHover.svg);	
	}

div#centrarFooter p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	color: white;
	position: absolute;
	top: 63px;
	left: 930px;
	line-height: 22px;
}