@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family:'josefin_sanslight';
}

h1,h2,h3,h4,h5,h6{
	font-family: 'josefin_sanssemibold';
}
nav{
	width: 100%;
	height: 70px;
	background-color: #E9ED58;
	
}
header{
	width: 100%;
	height: 600px;
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	
}

div#centrarheader{
	position: relative;
	width: 1200px;
	height: 600px;
	background-color: rgba(173,183,244,1.00);
	margin-left: auto;
	margin-right: auto;
}

section#promo{
	width: 100%;
	height: 400px;
	background-image: url("../img/bg_bienvenida.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

section#contenidos{
	width: 100%;
	height: 600px;
	background-image:url("../img/fondoEspecialidades.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

section#ubicacion{
	width: 100%;
	height: 422px;
	
}

footer{
	width: 100%;
	height: 200px;
	background-color: #A1C133;
}

div#centrarNav, div#centrarHeader, div#centrarPromo, div#centrarContenidos, div#centrarUbicacion, div#centrarFooter{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	
}

div#centrarNav img{
	position: absolute;
	top: 19px;
	left: 10px;
}
ul#menuPrincipal{
	float: left;
	position: absolute;
	top: 30px;
	left: 128px;
	
}
ul#menuPrincipal li{
	float: left;
	margin-right: 49px;
	list-style: none;
}
ul#menuPrincipal li a{
	text-decoration: none;
	font-size:20px;
	color: black;
	font-weight: 100;
}

ul#redesSocialestop {
	float: right;
	margin-top: 25px;
}

ul#redesSocialestop li{
	float: left;
	margin-left: 20px;
	list-style: none;
}

div#facebook{
	background-image: url(../../img/redes/faceWhite.svg);
	width: 11px;
	height: 21px;
}

div#facebook:hover{
	background-image: url(../../img/redes/faceHover.svg);
}

div#twitter{
	background-image:url(../../img/redes/twitterWhite.svg);
	width: 23px;
	height: 18px;
}

div#twitter:hover{
	background-image:url(../../img/redes/twitterHover.svg);
	
}

div#instagram{
	background-image: url(../../img/redes/inwhite.svg);
	width: 21px;
	height: 21px;
}

div#instagram:hover{
	background-image: url(../../img/redes/inHover.svg);
}

div#centrarPromo h2{
	font-size: 40px;
	color: #A1C133;
	font-weight: 300;
	float: right;
	position: absolute;
	top: 132px;
	left: 625px;
	text-align: right;
	
}

div#centrarPromo p{
	font-size: 25px;
	color: black;
	font-weight: 100;
	float: right;
	position: absolute;
	top: 256px;
	left: 746px;
}

/*falta contenidos*/
div#boxmapa{
	width: 720px;
	height: 285px;
	position: absolute;
	top: 112px;
	left: 236px;
	background-color: #A1C133;
	
}

iframe#mapa{
	margin-left: 22px;
	margin-top: -60px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

div#centrarFooter img{
	position: absolute;
	top: 50px;
	left: 10px;
}

ul#menufooter{
	float: left;
	position: absolute;
	top: 50px;
	left: 204px;
}

ul#menufooter li{
	margin-bottom: 13px;
	list-style: none;
}

ul#menufooter li a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	
}

ul#iconosredesfooter{
	position: absolute;
	top: 53px;
	left: 408px;
	list-style: none;
	
}

div#footerfacebook{
	background-image: url(../../img/redes/faceWhite.svg);
	width: 11px;
	height: 21px;
	margin-bottom: 11px;
}

div#footerfacebook:hover{
	background-image: url(../../img/redes/faceHover.svg);
}

div#footertwitter{
	background-image:url(../../img/redes/twitterWhite.svg);
	width: 23px;
	height: 18px;
	margin-bottom: 20px;
}

div#footertwitter:hover{
	background-image:url(../../img/redes/twitterHover.svg);
	
}

div#footerinstagram{
	background-image: url(../../img/redes/inwhite.svg);
	width: 21px;
	height: 21px;
}

div#footerinstagram:hover{
	background-image: url(../../img/redes/inHover.svg);	
	}

ul#textoredesfooter{
	position: absolute;
	list-style: none;
	top: 50px;
	left: 445px;
	
}
ul#textoredesfooter li a{
	text-decoration: none;
}

div#footertextofacebook{
	font-size: 15px;
	color: white;
	margin-bottom: 16px;
	
}

div#footertextotwitter{
	font-size: 15px;
	color: white;
	margin-bottom: 16px;
	
}

div#footertextoinstagram{
	font-size: 15px;
	color: white;
	
}

div#footertextofacebook:hover{
	color: #FF5E60;
}

div#footertextotwitter:hover{
	color: #FF5E60;
	
}

div#footertextoinstagram:hover{
	color: #FF5E60;
}

div#centrarFooter p#contacto{
	position: absolute;
	top: 50px;
	left: 616px;
}

input#cajaemail{
	position: absolute;
	top: 85px;
	left: 616px;
	width: 210px;
	height: 40px;
	background-color: transparent;
	font-size: 12px;
	border: solid 1px white;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 20px;
	color: white;
	
}

input#enviar{
	position: absolute;
	top: 85px;
	left: 826px;
	width: 60px;
	height: 42px;
	background-color: white;
	font-size: 12px;
	padding-left: 24px;
	padding-left: 5px;
	color: black;
	border: solid 1px white;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}

::-webkit-input-placeholder{color:white; }/*safari y chrome*/
::-mox-input-placeholder {color: white;}/*mozila firefox*/
::-ms-input-placeholder{color: white;} /*microsoft ie o edge*/
::-o-input-placeholder{color:white;}/*opera*/
input-placeholder{color:white;} /*universal*/


div#centrarFooter p{
	font-size: 14px;
	color: white;
	position: absolute;
	top: 50px;
	left: 930px;
	line-height: 22px;
}
